 a {text-decoration: none;
           background-color: none;
           color: inherit;
          }

        table {
            border-collapse: collapse;
            width: 100%;
            table-layout: fixed;   /* makes all 7 columns share width */
        }

        th, td {
            border: 2px dashed #eeeeee;
            padding: 4px;
            text-align: left;
            overflow: hidden;
            margin-left: 5px;
        }

        tr:first-child td {
            vertical-align: top; /* aligns cell content at the top */
            height: auto;
        }

        tr {
            vertical-align: top; /* aligns cell content at the top */
            height: auto;
        }

        thead {
            background-color: #f2f2f2;
            font-weight: bold;
        }

        tbody tr:nth-child(even) {
            background-color: #fafafa;
        }

        hr {
          color: #eeeeee;
        }
        .week-grid {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            gap: 5px;
            font-family: Arial, sans-serif;
        }

        .daily-grid {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 5px;
            font-family: Arial, sans-serif;
        }

        .week-grid div {
            padding: 15px;
            background: #e8f0fe;
            border: 1px solid #90a4ae;
            text-align: center;
            font-weight: bold;
            padding: 20px;
            margin-bottom: 20px;
        }

        .daily-grid div {
            padding: 15px;
            background: #e8f0fe;
            border: 1px solid #90a4ae;
            text-align: center;
            font-weight: bold;
            padding: 20px;
            margin-bottom: 20px;
        }

        .goals-cell {
            opacity: 0.8;
            display: grid;
            gap: 5px;
            font-family: Arial, sans-serif;
            border: 2px solid black;
            box-sizing: border-box;
            outline: #4CAF50 solid 10px;
            padding: 5px;
            text-align: center;
            margin-left: 1px;
            margin-bottom: 20px;
            margin-top: 20px;
        }

        .goals-cell a {text-decoration: none;
           background-color: none;
           color: #0D693A;
           font-size: 10px;
           white-space: nowrap;
          }

        .name {
            font-size: 16px;
            font-weight: bold;
        }

        .description {
            font-size: 11px;
            opacity: 0.7;
             text-align: left;

        }

        .result {
            font-size: 12px;
            opacity: 0.9;
             text-align: left;

        }

        .custom-row {
            display: flex !important;
            justify-content: space-between;
            align-items: center;
        }

        .first-item {
            order: 1;
            margin-right: auto;
        }

        .second-item {
            order: 3;
            margin-left: auto;
        }

        .centered-item {
            order: 2;
            margin-left: auto;
            margin-right: auto;
        }

textarea {
  width: 100%;
  height: 150px;
  padding: 12px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  margin: 10px 0;
}

input,
.btn {
  width: 100%;
  padding: 12px;
  border: 1px;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}

input:hover,
.btn:hover {
  opacity: 1;
}
