<html>
<head>
    <title>Tygodniowe cele do zrealizowania</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script>
        function set_achieved(divId) {
            document.location.href = '/goal_achieved/' + divId;
        }
    </script>
</head>
<body>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    <div class="row custom-row">
        <div class="first-item">
            {% if weekly == True %}
                <a href="/daily">Widok na dzień</a>
            {% elif weekly == False %}
                <a href="/">Widok na tydzień</a>
            {% endif %}
        </div>
        <div class="second-item"><a href="/logout">Wyloguj</a></div>
        <div class="centered-item"><a href="/week_ago/{{ start_week }}"><<</a> {{ start_week }} - {{ end_week }} <a href="/next_week/{{ start_week }}">>></a></div>
    </div>
    <hr>
    <table>
    <thead>
      <tr>
          {% if weekly == True %}
            <div class="week-grid">
                {% for day_of_week_id, day_of_week_label in days_of_week.items() %}
                {% if day_of_week_id == today_day_of_week_number %}
                    <a href="/add_goal/{{ day_of_week_id }}"> <div> {{day_of_week_label}} <br><hr></div></a>
                {% else %}
                    <a href="/add_goal/{{ day_of_week_id }}"> <div> {{day_of_week_label}}</div></a>
                {% endif %}
                {% endfor %}
          {% elif weekly == False %}
                <div class="daily-grid">
                <a href="/add_goal/{{ today_day_of_week_number }}"> <div> {{days_of_week[today_day_of_week_number]}} </div></a>
          {% endif %}
        </div>
      </tr>
    </thead>
    <tbody>
        {% for goal in goals %}
            {% if goal.goal_achieved == False %}
                {% for i in range(1, 8) %}
                    {% if i == 1 %}
                        <tr>
                    {% endif %}
                    {% if weekly == False and today_day_of_week_number == 1 %}
                        <td>
                    {% elif weekly == True %}
                        <td>
                    {% endif %}
                    {% if (goal.goal_day_of_week == i and weekly == True) or (goal.goal_day_of_week == today_day_of_week_number and weekly == False and i == 1) %}
                        <div id="opened-{{ goal.id }}" class="goals-cell"
                        {% if (today_day_of_week_number - goal.goal_day_of_week > 0) and goal.carried_over_if_not_achieved == True %}
                            style="background: linear-gradient(90deg, {{ task_colors_by_days[today_day_of_week_number - goal.goal_day_of_week]['background'] }} ); color: {{ task_colors_by_days[today_day_of_week_number - goal.goal_day_of_week]['font_color'] }};"
                        {% else %}
                            style="background-color: #FFFFFF;"
                        {% endif %}
                        ondblclick="set_achieved({{ goal.id }})">
                            <div class="name"> {{ goal.name }}
                                {% if goal.carried_over_if_not_achieved == True %}
                                <img src="{{ url_for('static', filename='icons/next.png') }}">
                                {% endif %}
                                {% if goal.goal_cyclic_weekly== True %}
                                <img src="{{ url_for('static', filename='icons/recurring.ico') }}">
                                {% endif %}
                            </div>
                            <div class="description">{{ goal.description }} </div>
                            <div class="result"><b>Rezultat:</b> {{ goal.result }} </div>
                            {% if (today_day_of_week_number - goal.goal_day_of_week > 4) %}
                            <div style="display: flex; color: #COCOCO;"> <a href="/update_goal/{{ goal.id }}" style="color: #FFFFFF;">Edytuj</a>&nbsp;|&nbsp;
                                <a href="/delete_goal/{{ goal.id }}" style="color: #FFFFFF;">Usuń</a></div>
                            {% else %}
                            <div style="display: flex;"> <a href="/update_goal/{{ goal.id }}">Edytuj</a>&nbsp;|&nbsp;
                                <a href="/delete_goal/{{ goal.id }}">Usuń</a></div>
                            {% endif %}
                            </div>
                       {% if weekly == False and today_day_of_week_number == i %}
                         </td>
                       {% elif weekly == True %}
                         </td>
                       {% endif %}
                    {% endif %}
                {% if i == 8 %}
                    </tr>
                {% endif %}
            {% endfor %}
           {% endif %}
        {% endfor %}
    </tbody>
    </table>
    <hr>
    <table>
        <thead>
        </thead>
        <tbody>
        {% for goal in goals %}
            {% if goal.goal_achieved == True %}
                {% for i in range(1, 8) %}
                    {% if i == 1 %}
                        <tr>
                    {% endif %}
                    {% if weekly == False and today_day_of_week_number == 1 %}
                        <td>
                    {% elif weekly == True %}
                        <td>
                    {% endif %}
                    {% if goal.goal_day_of_week== i %}
                        <div id="completed-{{ goal.id }}" class="goals-cell" ondblclick="set_achieved({{ goal.id }})"><div class="name" style="text-decoration: line-through;"> {{ goal.name }} </div> <div class="description" style="text-decoration: line-through;">{{ goal.description }} </div></div>
                    {% endif %}
                    {% if weekly == False and today_day_of_week_number == 1 %}
                       </td>
                    {% elif weekly == True %}
                       </td>
                    {% endif %}
                {% if i == 8 %}
                    </tr>
                {% endif %}
            {% endfor %}
           {% endif %}
        {% endfor %}
    </tbody>
    </table>
</body>
</html>
