<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Nowy cel na {{ day_of_week }} </title>
</head>
<body>
 <form method="post">
     <b><label for="content">Nazwa i opis celu:&nbsp;</label></b>
     {% if goal is not none %}
        <textarea name="name" id="name">{{ goal.name }}</textarea>
        <textarea name="description" id="description">{{ goal.description }}</textarea>
        <textarea name="result" id="result">{{ goal.result }}</textarea>
        <br>
        <input type="checkbox" id="goal_cyclic_daily" name="goal_cyclic_daily" {% if goal.goal_cyclic_daily %}checked{% endif %}>
        <label for="goal_cyclic_daily">Czy cel występuje codziennie?</label>
        <br>
        <input type="checkbox" id="goal_cyclic_weekly" name="goal_cyclic_weekly" {% if goal.goal_cyclic_weekly %}checked{% endif %}>
        <label for="goal_cyclic_weekly">Czy cel występuje co tydzień?</label>
        <br>
        <input type="checkbox" id="carried_over_if_not_achieved" name="carried_over_if_not_achieved" {% if goal.carried_over_if_not_achieved %}checked{% endif %}>
        <label for="carried_over_if_not_achieved">Czy niezrealizowane cele przechodzą na kolejne dni?</label>
     {% else %}
        <textarea name="name" id="name_new">{{ request.form['name'] }}</textarea>
        <textarea name="description" id="description_new" placeholder="Tip: Opisz dokładnie cel">{{ request.form['description'] }}</textarea>
        <textarea name="result" id="result_new" placeholder="Tip: Zdefiniuj cel posiadający jasno określony i mierzalny rezultat aby ułatwić weryfikacje jego realizacji">{{ request.form['description'] }}</textarea>
        <br>
        <input type="checkbox" id="goal_cyclic_daily_new" name="goal_cyclic_daily">
        <label for="goal_cyclic_weekly">Czy cel występuje codziennie?</label>
        <br>
        <input type="checkbox" id="goal_cyclic_weekly_new" name="goal_cyclic_weekly">
        <label for="goal_cyclic_weekly">Czy cel występuje co tydzień?</label>
        <br>
        <input type="checkbox" id="carried_over_if_not_achieved_new" name="carried_over_if_not_achieved">
        <label for="carried_over_if_not_achieved_new">Czy niezrealizowane cele przechodzą na kolejne dni?</label>
     {% endif %}
     <br>
    <input type="submit" value="Zapisz">
 </form>
</body>
